body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header-style {
    background-color: paleturquoise;
    position: sticky;
    top: 0;
    z-index: 1000;
    
    display: flex; 

    justify-content: space-between; 

    align-items: center; 

    padding: 10px 20px; 
}

.logo-placement {
    display: flex; 
}

.btn-placement {
    display: flex;
    gap: 20px;
    align-items: center;
}

.btn-compte, .btn-favs {
    display: flex;
}