{% extends "base.twig.html" %}

{% block title %}Avis - Stage-Link{% endblock %}

{% block body %}

<div class="images">
            <a href="/?uri=offer_detail&id=1" class="card"><img src="/assets/images/placeholder.png" alt="Offre BTP 1"></a>
            <a href="/?uri=offer_detail&id=2" class="card"><img src="/assets/images/placeholder.png" alt="Offre BTP 2"></a>
            <a href="/?uri=offer_detail&id=3" class="card"><img src="/assets/images/placeholder.png" alt="Offre BTP 3"></a>
        </div>

{% endblock %}
