{% extends "base.twig.html" %}

{% block title %}Connexion - Stage-Link{% endblock %}

{% block body %}
  <section>
    <h1 class="text-center">Bonjour !</h1>

    <p>Connectez-vous pour acceder à votre espace personnel.</p>

    <article>
      <h2>Formulaire de connexion</h2>

      {# plus tard: action vers la route de traitement du login #}
      <form method="post" action="/?uri=login_check">
        <div class="form-row">
          <label for="email">Courriel</label>
          <input name="email" id="email" type="email" required>
        </div>

        <div class="form-row">
          <label for="password">Mot de passe</label>
          <input name="password" id="password" type="password" required>
        </div>

        <div class="form-row">
          <button type="submit">Connexion</button>
          <input type="reset" value="Effacer">
        </div>
        <div class="form-row">
          <p>Pas encore de compte ? &nbsp </p><a href="/?uri=register"> Inscrivez-vous !</a>
        </div>
      </form>
    </article>
  </section>
{% endblock %}

