{% extends "base.twig.html" %}

{% block title %}Inscription - Stage-Link{% endblock %}

{% block body %}
  <section>
    <h1 class="text-center">Créez un compte</h1>

    <p>
      Pour déposer une annonce ou bénéficier d'une expérience personnalisée avec
      du contenu en lien avec vos recherches inscrivez-vous, c'est rapide et gratuit !
    </p>

    <article>
      <h2>Formulaire d'inscription</h2>

      <form action="#" method="post">
        <div class="form-row">
          <label for="name">Nom de l'entreprise *</label>
          <input name="name" id="name" type="text" required>
        </div>

        <div class="form-row">
          <label for="siret">Numéro de SIRET *</label>
          <input name="siret" id="siret" type="text" required>
        </div>

        <div class="form-row">
          <label for="secteur">Secteur *</label>
          <input name="secteur" id="secteur" type="text" required>
        </div>

        <div class="form-row">
          <label for="email">Courriel *</label>
          <input name="email" id="email" type="email" required>
        </div>

        <div class="form-row">
          <label for="password">Mot de passe *</label>
          <input name="password" id="password" type="password" required>
        </div>

        <div class="form-row">
          <label for="password_confirm">Confirmation *</label>
          <input name="password_confirm" id="password_confirm" type="password" minlength="8" required>
        </div>

        <div class="form-row">
          <button type="submit">Envoyer</button>
          <input type="reset" value="Réinitialiser">
        </div>
      </form>
    </article>
  </section>
{% endblock %}

