{% extends "base.twig.html" %}

{% block title %}Mon compte - Stage-Link{% endblock %}

{% block body %}
  <section>
    <h1 class="text-center">Mon compte</h1>

    <p>
      Ici vous pouvez gérer votre compte
    </p>

    <article>
        <h2>Mon compte</h2>
            <form action="/update-account" method="POST">
                <label>Prénom :</label>
                <input type="text" name="firstname" value="{{ user.prenom }}">

                <label>Nom :</label>
                <input type="text" name="lastname" value="{{ user.nom }}">

                <label>Email :</label>
                <input type="email" name="email" value="{{ user.email }}">

                <button type="submit">Enregistrer les modifications</button>
            </form>
    </article>
  </section>
{% endblock %}